.blog-container {
  display: flex;
  width: 100%;
  padding: 40px;
  gap: 40px;
}

.blog-left {
  flex: 3;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2,1fr);
}

.blog-right {
  flex: 1;
}

.categories {
  background: #f4f5f7;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

.categories h4 {
  margin-bottom: 10px;
}
