.blog-card {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.blog-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.blog-meta {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  color: #555;
  font-size: 14px;
}

.blog-title {
  margin: 15px 0;
  font-size: 26px;
  font-weight: bold;
}

.blog-excerpt {
  color: #444;
  line-height: 1.5;
}

.blog-tags {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.tag {
  background: #ffe6e6;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
}
