.hero{
  width: 100%;
  overflow: visible !important;
  position: relative;
}
.heroSlider{
  width: 300%;
  display: flex;
  transition: transform 0.6s ease;
}
.heroCard{
  width: 100%;
  flex-shrink: 0;
  position: relative;
}
.heroImgCon{
  width: 100%;
}
.heroSlider,
.heroCard,
.heroImgCon {
  height: 100vh;
}
.heroImgCon video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay{
  width: 80%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (max-width: 768px) {
  .heroImgCon,
  .heroSlider,
  .heroCard {
    width: 100%;
  }

  .overlay {
    width: 95%;
    bottom: -5%;
    transform: translate(-50%, -50%);
  }
}

/* Mobile phones */
@media (max-width: 480px) {
  .heroImgCon,
  .heroSlider,
  .heroCard {
    height: 90vh;
  }

  .overlay {
    width: 90%;
    bottom: -8%;
    transform: translate(-50%, -50%);
  }
}