.hero{
  width: 100%;
  overflow: visible !important;
  position: relative;
}
.heroSlider{
  width: 300%;
  display: flex;
  transition: transform 0.6s ease;
}
.heroCard{
  width: 100%;
  flex-shrink: 0;
  position: relative;
}
.heroImgCon{
  width: 100%;
}
.heroSlider,
.heroCard,
.heroImgCon {
  height: 100vh;
}
.heroImgCon video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*
.heroOverlay {
  width: 80%;              
  position: absolute;
  left: 50%;                
  bottom: 5%;              
  transform: translateX(-50%);
  
  /*border: 3px solid blue;   
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding: 20px;            
}
.heroOverlay > div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  background: var(--background);
  padding: 20px;
  border-radius: var(--radius-md);
}
.heroOverlayInner{
  width: 100%;
}
.heroOverlayInner:nth-child(3){
  text-align: right;
}
.heroOverlayInner h2{
  font-size: 1.5rem;
  color: var( --text-color);
  font-family: var(--font-two);
  margin: 0px 0px 5px 0px;
}
.heroOverlayInner p{
  font-size: 1rem;
  color: var(  --text-light);
  font-weight: 500;
  font-family: var(--font-two);
}
.heroOverAmenityCon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.heroOverAmenityCon span{
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 5px;
  font-size: 1rem;
  text-transform: capitalize;
  font-family: var(--font-two);
  font-weight: 500;
}
.heroOverlayInner h3{
  font-family: var(--font-two);
  font-weight: 600;
  font-size: 0.9rem;
  color: green;
  border-radius: var(--radius-sm);
  margin: 0px 0px 5px 0px;
}
.controlBox{
  position: absolute;
  content: '';
  bottom: -8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  width: 100%;
  padding: 10% 5%;
}
.controlBtn{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--btn-secondary-hover);
  cursor: pointer;
}
.controlBtn:hover{
  background-color: var(--card-background);
  color: var(--accent-color);
}
*/
.overlay{
  width: 80%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
}