.listings-wrapper {
  text-align: center;
  padding:  20px;
  background-color: var(--btn-primary-hover); /* deep wine background */
  color: white;
  padding: 5%;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 20px;
  opacity: 0.9;
  margin-bottom: 40px;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.category-select,
.location-input {
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  outline: none;
}

.location-input {
}

.search-btn {
  background-color: #ffb100;
  color: #000;
  padding: 14px 28px;
  font-size: 17px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.search-btn:hover {
  background-color: #ffcb47;
}
