.nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: var(--background-light);
}
.logo{
  font-family: var(--font-one);
  font-weight: bolder;
  color: var(--primary-color);
  font-size: 2rem;
}
.navItem{
  flex: 0.75;
  display: flex;
  align-items:  center;
  justify-content: space-between;
  list-style:  none;
}

.navUl{
  flex: 1;
  width: 100%;
  display: flex;
  align-items:  center;
  justify-content: flex-start;
  list-style:  none;
  z-index: 9999999;
}

.navUl li{
  display:  inline-block;
  font-family: var(--font-one);
  font-weight: 600;
  color: var(--text-color);
}
.navUl li a{
  font-family: var(--font-two);
  text-transform: capitalize;
  text-decoration: none;
  margin: 0px 30px;
  font-size: 1rem;
  color: var(--text-dark);
  cursor: pointer;
}
.navUl li a:hover{
  color: var(--primary-color);
}
.auth{
  width: max-content;
  display: flex;
  align-items: center;
  gap: 15px;
}
.auth a{
  font-family: var(--font-two);
  background-color: var(  --btn-primary);
  color: var(--background);
  padding: 10px 20px;
  border-radius: var(--radius-md);
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
}
.auth button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}


@media screen and (max-width: 1080px){
  .nav{
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #ccc;

  }
  .navItem{
    flex: auto;
    display: flex;
    align-items:  center;
    justify-content: flex-end;
    list-style:  none;
  }
  .navUl{
    display: flex;
    align-items:  flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    list-style:  none;
    width: 100%;
    position: absolute;
    padding: 20px 20px;
    top: 80px;
    background-color: var(--background);
    box-shadow: 0px 2px 5px var(--shadow-lg);
    left: 0;
    z-index: 9999999;
    transform: translateX(-100%);
  }
  .navUl.toggle{
   transform: translateX(0%);
  }
  .navUl li{
    width: 100%;
    display:  inline-block;
    font-family: var(--font-one);
    font-weight: 600;
    color: var(--text-color);
  }
  .navUl li a{
    width: 100%;
    margin: 0px 0px;
    font-size: 1.2rem;
    padding: 15px;
    display: block;
  }
  .auth button{
    display: flex;
  }
}
@media screen and (max-width: 789px){
  .nav{
     padding: 20px 10px;
  }
  .logo{
    font-size: 1.5rem;
  }
}
/*
@media screen and (max-width: 992px){
  .nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.navItem{
  width: 100%;
}
.navUl{
  display: flex;
  align-items:  flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  list-style:  none;
  width: 100%;
  height: 70vh;
  position: absolute;
  padding: 20px 20px;
  top: 99px;
  background-color: var(--background-light);
  box-shadow: 0px 2px 5px var(--shadow-lg);
  left: 0;
  z-index: 9999999;
  transform: translateX(0%);
  border: 5px solid red;
}
.navUl.toggle{
   transform: translateX(0%);
}
.navUl li{
  width: 100%;
  display:  inline-block;
  font-family: var(--font-one);
  font-weight: 600;
  color: var(--text-color);
}
.navUl li a{
  width: 100%;
  margin: 0px 0px;
  font-size: 1.2rem;
  padding: 15px;
  display: block;
}
.auth button{
  display: flex;
}
}
@media screen and (max-width: 789px){
  .nav{
     padding: 20px 10px;
  }
  .logo{
    font-size: 1.5rem;
  }
}
  */