.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
}

.pagination button {
  padding: 8px 14px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.pagination button:hover {
  background: var(--primary-color) !important;
  color: white !important;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.active-page {
  background: var(--primary-color) !important;
  color: white !important;
}
