.searchFilterContainer {
  display: flex;
  align-items: flex-end;
  gap: 18px;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 5px 20px var(--shadow-sm);
  width: 100%;
  margin: auto;
}

.filterItem {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.filterItem label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: var( --text-color);
  font-family: var(--font-one);
}

.filterItem input,
.filterItem select {
  padding: 12px 14px;
  border: 1px solid  var( --border-color);
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  background: var(--background-light);
  transition: all 0.2s ease;
}

.filterItem input:focus,
.filterItem select:focus {
  border-color: var(--secondary-color);
  background: var(--background);
}

.searchBtn {
  padding: 13px 24px;
  background: var(  --btn-secondary-hover);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.2s ease;
}

.searchBtn:hover {
  background: var(--btn-secondary);
}

/* Responsive */
@media (max-width: 768px) {
  .searchFilterContainer {
    flex-direction: column;
    align-items: stretch;
  }

  .searchBtn {
    width: 100%;
  }
}
