/* Section wrapper */
.whyChooseSection {
  width: 100%;
  padding: 80px 0;
  background: #fff;
  text-align: center;
}

/* Title */
.whyChooseSection h2 {
  font-size: 2.2rem;
  color: var(--text-color);
  font-family: var(--font-one);
  font-weight: 700;
}

/* Subtitle */
.whySubText {
  font-size: 1rem;
  margin-top: 10px;
  color: #4b5563;
  margin-bottom: 60px;
  font-family: var(--font-two);
}

/* Grid layout */
.whyGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 80px;
  width: 85%;
  margin: 0 auto;
}

/* Individual card */
.whyCard{
  text-align: left;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border-radius: var(--radius-lg);
  padding: 20px;
}
.whyCard:hover{
  background-color: var(--background);
  box-shadow: 0px 1px 20px rgb(209, 209, 209);
}
/* Icon */
.whyIcon {
  color: var(--btn-primary-hover); /* deep wine/purple like in your screenshot */
}

/* Title inside card */
.whyIconDet h3 {
  font-size: 0.9rem;
  color: var(--btn-primary-hover);
  font-family: var(--font-one);
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}

/* Description */
.whyIconDet p {
  font-size: 0.8rem;
  color: #6b7280;
  line-height: 1.4;
  font-weight: 400;
  font-family: var(--font-two);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .whyGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (max-width: 600px) {
  .whyGrid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
