.app{
  overflow: hidden;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  z-index: 9999 !important;
  top: auto !important;
  padding: 40px !important;
  width: 10px !important;      /* button width */
  height: 10px !important;
}
.slick-prev {
  left: 40% !important;
  color: transparent !important;
}

.slick-next {
  right: 50% !important;
  color: transparent !important;
}
.slick-prev,
.slick-next {
  top: 85% !important;
  transform: translateY(-50%);
  z-index: 9999 !important;
  font-size: 40px !important;

}
.slick-arrow{
  font-size: 3rem !important;
}
.slick-prev::before,
.slick-next::before{
  font-size: 40px !important;
  color: white !important;
}
@media screen and (max-width: 1024px) {
  .slick-prev {
    left: 30% !important;
  }
  .slick-next {
    right: 45% !important;
  }
}

@media screen and (max-width: 680px) {
  .slick-prev {
    left: 15% !important;
  }
  .slick-next {
    right: 40% !important;
  }
}

@media screen and (max-width: 480px) {
  .slick-prev,
  .slick-next {
    font-size: 30px !important;
  }
}